<h3> Genre's Information </h3>

<label>Name:</label>
<h4> <%= @genre.name %> </h4>

<ul> Artists: 
<% @genre.artists.each do |artist| %>
    <a href="/artists/<%= artist.slug%>">
        <li> <%= artist.name %> </li>
    </a>
<% end %>
</ul>

<ul> Songs: 
<% @genre.songs.each do |song| %>
    <a href="/songs/<%= song.slug%>">
        <li> <%= song.name %> </li>
    </a>
<% end %>
</ul>

<form method="get" action="/genres/<%= @genre.id %>/edit">
    <button type="submit">Edit Genre</button>
</form>

<form method="get" action="/songs">
    <button type="submit">All Songs</button>
</form>

<form method="get" action="/artists">
    <button type="submit">All Artists</button>
</form>