<h1>Edit Song</h1>

<form action ='/songs/<%= @song.slug %>' method = "POST">
    <input type="hidden" name="_method" value="PATCH">

    <label>Song name:</label>
    <input type="text" name="song[name]" value="<%= @song.name %>"><br>

    <label>Artist name:</label>
    <input id="Artist Name" type="text" name="artist[name]" value="<%= @song.artist.name %>"><br>


    <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <%= genre.name%>
    <% end %>


    <input type="submit" value="Save Edits">
</form>