<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<label>Song's Name</label>
<h3><%= @song.name %></h3>

<label>Songs's artist</label>
<a href = "/artists/<%= @song.artist.slug %>">
<h3> <%= @song.artist.name %> </h3>
</a>

<label>Song's genres</label>
<ul>
<% @song.genres.each do |genre|%>
    <a href="/genres/<%= genre.slug %>">
        <li><%= genre.name %></li>
    </a>
<% end %>
</ul>