<h3>Song Info:</h3>

<label>Song Title:</label>
<h5><%= @song.name %></h5>

<label>Song Artist:</label>
<a href="/artists/<%= @song.artist.slug%>">
	<h5><%= @song.artist.name %></h5>
</a>


<label>Song Genres:</label>
<ul>
    <% @song.genres.each do |genre| %>
    	<a href="/genres/<%= genre.slug%>">
        	<li><%= genre.name %></li>
        </a>
    <% end %>
</ul>